<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Resume</title>
</head>
<body>

  <h1>Education</h1>
  <% for(let i=0; i<education.length; i++) { %>
  <form action="/edit/education/<%= education[i].id %>" method="POST">
    <input type="text" name="school_name" value="<%= education[i].school_name %>"><br>
    <input type="text" name="degree" value="<%= education[i].degree %>"><br>
    <input type="text" name="start_date" value="<%= education[i].start_date.toLocaleDateString('en-US') %>"><br>
    <input type="text" name="end_date" value="<%= education[i].end_date.toLocaleDateString('en-US') %>"><br>
  </form><br>
  <% } %>
</body>
</html>