<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gallery</title>
  <link href="/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js" defer></script>

  <style>

    #profile-pic{
      width: 8rem;
      box-shadow: 0 0 140px 50px white; /* outer cyan */
      border: 2px solid #16b1b5
    }
    #resume_button{
      color: #e25b4b;
    }

    #userName {
      margin: 0px 500px 0px 500px;
      font-size: 2rem;
      border-bottom: 2px solid silver;
      color: grey
    }

    #project_title{
      margin-bottom: 0;
      line-height: .5em;
    }
    #gallery{
      display: inline-block;
    }

    #gallery img .responsive-img{
      height: 4vh;
    }

    #add_project {
      background-color: #16b1b5
    }

    .media-type {
      font-size: 15px
    }


    .header{
      background-color: #ebe9e7;
      box-shadow:  3px 3px 5px 1px #16b1b5;
    }
    .btn, .btn-large, .btn-small, .btn-floating {
      text-decoration: none;
      color: #fff;
      background-color: #e25b4b;
      text-align: center;
      letter-spacing: .5px;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out;
      cursor: pointer;
      margin-top: 1em;
    }
    .btn:hover, .btn-floating:hover{
      background-color: #ff6f5f;
    }
    .btn-floating{
      font-size: .7em;
    }

    #backBtn {
      text-align: left;
      margin-bottom: none;
      background-color: #16b1b5
    }

    .project {
      box-sizing: border-box;
      box-shadow: 3px 3px 5px 1px #ccc;
      height: 50vh;
      margin: 5px;
    }

    .p.responsive-img:hover {
      height: 200rem;
    }

    .delete {
      color: red
    }



    button {
      border: none!important;
    }

  </style>

</head>
<body>
<div class="header">
  <a href="/"><button  id="backBtn" class="btn waves-effect waves-light" type="submit">Back</button></a>

  <div class="center-align">
  <div>
    <img id="profile-pic" class="circle responsive-img" src="<%= user.profile_pic %>">
  </div>
    <div id="userName" class="">
      <%= user.first_name %> <%= user.last_name %>
    <div class="media-type">
      <%= user.media_type %>
    </div>
   </div>
    <div class=" bio">
      <p class="flow-text"><%= user.bio %></p>
    </div>
    <% if(user.id === loggedUser.id){ %>
      <a class="col s12 m3 l3 flow-text" id="resume_button" href="/resume/<%= user.id %>">My Resume</a>
    <% } %>
  </div>
</div>
  <div class="container">

    <div id="gallery" class="row">
      <% for(let i=0; i<projects.length; i++) { %>
      <div class="project col s4 offset-1">
        <p id="project_title" class="flow-text"><%= projects[i].title %></p><br>
        <% for(let j=0; j<projects[i].images.length; j++) { %>
         <img class="hoverable responsive-img" src="<%= projects[i].images[j].img_url %>" style="width: 200px">
        <% } %><br>
        <p class=""><%= projects[i].project_description %></p><br>
        <% if(user.id === loggedUser.id){ %>
          <form class="" action="/gallery/delete/ <%= projects[i].id%>" method="post">
            <button class="delete" type="submit">Delete</button>
          </form>
        <% } %>
      </div>
      <% } %>
    </div>
<% if(user.id === loggedUser.id) { %>
  <form action="/addproject">
       <button id="add_project" class="btn waves-effect waves-light" type="submit">Add Project</button>
  </form>
<% } %>
</div>


</body>
</html>
