<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gallery</title>
  <link href="/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js" defer></script>

  <style>
    #profile-pic{
      max-width: 15rem;
      margin: 2em 0 2em 5em;
    }
    #resume_button{
      color: #e25b4b;
    }
    .header{
      background-color: #fafafa;
      border-bottom: 4px solid #16b1b5;
    }
    .btn, .btn-large, .btn-small, .btn-floating {
      text-decoration: none;
      color: #fff;
      background-color: #e25b4b;
      text-align: center;
      letter-spacing: .5px;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out;
      cursor: pointer;
      margin-top: 1em;
    }
    .btn:hover, .btn-floating:hover{
      background-color: #ff6f5f;
    }
    .btn-floating{
      font-size: .7em;
    }
    #project_title{
      margin-bottom: 0;
      line-height: .5em;
    }
    #gallery{
      display: inline-block;
    }
    #gallery img .responsive-img{
      height: 4vh;
    }
  </style>

</head>
<body>

  <div class="row header valign-wrapper center-align">
    <img id="profile-pic" class="circle responsive-img col s12 m3 l3" src="<%= user.profile_pic %>">
    <h1 id="user-name" class="col s12 m3 l3"><%= user.first_name %> <%= user.last_name %></h1>
    <div class="col s12 m3 l3 bio">
      <p class="flow-text">Specialty: <%= user.media_type %><br>Bio: <%= user.bio %></p>
    </div>
    <a class="col s12 m3 l3 flow-text" id="resume_button" href="/resume/<%= user.id %>">My Resume</a>
  </div>

  <div class="container">

    <% if(user.status == "user"){ %>
      <style media="screen">
        #resume_button {
          display:block;
        }
      </style>
    <% } else if(user.status == "employer") { %>
      <style media="screen">
        #resume_button {
          display: block;
        }
       </style>
     <% } else { %>
       <style media="screen">
         #resume_button {
           display: none;
         }
       </style>
     <% } %>

    <div id="gallery" class="row">
      <% for(let i=0; i<projects.length; i++) { %>
      <div class="project col s6">
        <p id="project_title" class="flow-text"><%= projects[i].title %></p><br>
        <% for(let j=0; j<projects[i].images.length; j++) { %>
         <img class="hoverable responsive-img" src="<%= projects[i].images[j].img_url %>" style="width: 200px">
        <% } %><br>
        <p class="truncate random"><%= projects[i].project_description %></p><br>
        <a class="btn-floating" href="">View more...</a>
        <form class="" action="/gallery/delete/ <%= projects[i].id%>" method="post">
          <button type="submit">Delete</button>
        </form>
      </div>
      <% } %>
    </div>

    <form id="add_project" action="/addproject">
         <button class="btn waves-effect waves-light" type="submit">Add Project</button>
    </form>

    <% if (user.status == "user") { %>
   <style media="screen">
     #add_project {
       display:block;
     }
   </style>

    <% } else { %>
      <style media="screen">
        #add_project {
          display: none;
        }
      </style>
    <% } %>
  </div>

  <% if (loggedUser.status == "user") { %>
 <style media="screen">
   #add_project {
     display: block;
   }
 </style>

  <% } else if(loggedUser.status == "employer"){ %>
    <style media="screen">
      #add_project {
        display: none;
      }
    </style>
  <% } %>

</body>
</html>
