<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gallery</title>
  <link href="/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js" defer></script>
</head>
<body>

  <h1><%= user.first_name %> <%= user.last_name %></h1>
  <p>Specialty: <%= user.media_type %></p>
  <p><%= user.bio %></p>
  <a href="">My Resume</a>
  <hr>

  <div id="gallery">
    <% for(let i=0; i<projects.length; i++) { %>
    <div class="project">
      <%= projects[i].title %><br>
      <% for(let j=0; j<projects[i].images.length; j++) { %>
       <img src="<%= projects[i].images[j].img_url %>" style="width: 200px">
      <% } %><br>
      <%= projects[i].project_description %><br>
      <a href="">View more...</a>

    </div><br>
    <% } %>
  </div>

</body>
</html>