<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search Portfolios</title>
  <link href="/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js" defer></script>
  <style>

  #pic {
    display: block;
  }
  nav{
    background-color: #16b1b5;
  }
  input[type=text]:not(.browser-default){
    width: 50%;
    margin-left: 1em;
    border-bottom: 1px solid #d0d0d0;
  }
  .input-field input[type=text]:focus {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #000;
   }

  </style>
</head>
<body>

    <nav>
      <div class="nav-wrapper">
        <input class="brand-logo" type="text" placeholder="Search..">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/register/user">For Users</a></li>
          <li><a href="/register/employer">For Employers</a></li>
        </ul>
      </div>
    </nav>

    <div class="topnav">



    </div>
    <br>
  <% for(let i = 0; i < users.length; i++) { %>
      <% if(users[i].status == "employer") { %>
        <%console.log("users[i]", users[i])%>
        <style media="screen">
          .user_list {
            display: block;
          }
        </style>
      <% } else if(users[i].status == "user") { %>
      <div class="user_list card">
      <img id="pic" class="responsive-image" src="<%= users[i].profile_pic %>" alt="">
      <%= users[i].first_name %>
      <%= users[i].last_name %>
      <%= users[i].media_type %>
      <form action="/gallery/<%= users[i].id %>">
           <button type="submit">View</button>
      </form>
      <% } %>
    </div>
  <% } %>
  <% if(users.status == "employer") { %>
    <style media="screen">
      .user_list {
        display: none;
      }
    </style>
  <% } %>

</body>
</html>
