<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search Portfolios</title>
  <link href="/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js" defer></script>
  <style>

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 8px;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }

    .user_list{
      background-color: lightgrey;
    }

    #pic {
      display: block;
    }
}
  </style>
</head>
<body>
    <div class="topnav">
      <a href="/register/user">For Users</a>
      <a href="/register/employer">For Employers</a>
      <input type="text" placeholder="Search..">
    </div>
    <br>
  <% for(let i = 0; i < users.length; i++) { %>
      <% if(users[i].status == "employer") { %>
        <%console.log("users[i]", users[i])%>
        <style media="screen">
          .user_list {
            display: block;
          }
        </style>
      <% } else if(users[i].status == "user") { %>
      <div class="user_list card">
      <img id="pic" class="responsive-image" src="<%= users[i].profile_pic %>" alt="">
      <%= users[i].first_name %>
      <%= users[i].last_name %>
      <%= users[i].media_type %>
      <form action="/gallery/<%= users[i].id %>">
           <button type="submit">View</button>
      </form>
      <% } %>
    </div>
  <% } %>
  <% if(users.status == "employer") { %>
    <style media="screen">
      .user_list {
        display: none;
      }
    </style>
  <% } %>

</body>
</html>
