<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Resume</title>
  <link href="/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js" defer></script>
  <style>
    .btn, .btn-large, .btn-small, .btn-floating {
      text-decoration: none;
      color: #fff;
      background-color: #e25b4b;
      text-align: center;
      letter-spacing: .5px;
      -webkit-transition: background-color .2s ease-out;
      transition: background-color .2s ease-out;
      cursor: pointer;
      margin-top: 1em;
    }
    .btn:hover, .btn-floating:hover{
      background-color: #ff6f5f;
    }
    .btn-floating{
      font-size: .7em;
      margin: 2em;
    }
  </style>
</head>
<body>
  <a href="/gallery/<%=user.id%>" class="btn-floating">BACK</a>

  <div class="container resume">
    <div id="resume-header">
      <h1><%= user.first_name %> <%= user.last_name %></h1>
      <div class="row loggedUser-info">
        <p class="col s4"><i class="material-icons">call</i><%= user.phone_number %></p>
        <p class="col s4"><i class="material-icons">mail</i><%= user.email %></p>
        <p class="col s4"><i class="material-icons">place</i><%= user.city %>, <%= user.state %></p>
      </div>
    </div>

    <p id="flow" class="flow-text"><%= resume.summary %></p>
    <p id="summary"></p>
    <div id="resume-content">
      <div class="row">
        <section class="col s12 m6 l6">

          <h2>Education</h2>
          <% for (let i=0; i<education.length; i++) { %>
            <!-- PENCIL BUTTON -->
            <% if(loggedUser.status == "user"){ %>
              <a href="/edit/education/<%= education[i].id %>"</a><i id="education"
             class="material-icons">edit</i></a>
             <form class="" action="/delete/education/<%= education[i].id %>" method="post">
              <button type="submit"><i id="deleteEd"
                class="material-icons">delete</i></button>
             </form>
            <% } %>
           <!--  -->
            <p class="flow-text" id="position1"><%= education[i].school_name %></p>
            <p><%= education[i].degree %></p>
            <p><%= education[i].start_date.toLocaleDateString('en-US') %> to <%= education[i].end_date.toLocaleDateString('en-US') %></p>
          <% } %>
          <!-- EDIT BUTTON -->
          <% if(loggedUser.status == "user") { %>
            <a class="edit_buttons" href="/add/education/<%= resume.id %>"</a>Add New Education</a><br>
          <% } %>
          <!--  -->
        </section>
        <section class="col s12 m6 l6">

          <h2>Skills</h2>
          <% for(let i=0; i<skills.length; i++) { %>
            <!-- PENCIL BUTTON -->
            <% if(loggedUser.status == "user") { %>
            <a href="/edit/skill/<%= skills[i].id %>"</a><i id="skill" class="material-icons">edit</i></a>
            <form class="" action="/delete/skill/<%= skills[i].id %>" method="post">
             <button type="submit"><i id="deleteEd"
               class="material-icons">delete</i></button>
            </form>
          <% } %>
            <!--  -->
              <p class="flow-text" id="position2"><%= skills[i].skill %>
          <% } %>
          <!-- EDIT BUTTON -->
          <% if(loggedUser.status == "user") { %>
          <a class="edit_buttons" href="/add/skill/<%= resume.id %>"</a>Add New Skill</a><br>
          <% } %>
          <!--  -->
        </section>
      </div>

      <div class="row">
        <section class="col s12 m6 l6">

          <h2>Employment</h2>
            <% for (let i=0; i<employment.length; i++) { %>
          <!-- PENCIL BUTTON -->
          <% if(loggedUser.status == "user") { %>
              <a href="/edit/employment"</a><i id="employment" class="material-icons">edit</i></a>
              <a href="/delete/employment"</a><i id="deleteEmployment" class="material-icons">delete</i></a>
          <%  } %>
            <!--  -->
              <p class="flow-text" id="position3"><%= employment[i].position %></p>
              <p><%= employment[i].location %></p>
              <p><%= employment[i].job_description %></p>
              <p><%= employment[i].job_start.toLocaleDateString('en-US') %> to <%= employment[i].job_end.toLocaleDateString('en-US') %></p><br>
            <% } %>
          <!-- EDIT BUTTON -->
          <% if(loggedUser.status == "user") { %>
          <a class="edit_buttons" href="/add/employment/<%= loggedUser.id %>"</a>Add New Employment</a><br>
        <% } %>
          <!--  -->
        </section>
        <section class="col s12 m6 l6">


          <h2>Awards</h2>
          <% for(let i=0; i<awards.length; i++) { %>
            <!-- PENCIL BUTTON -->
            <% if(loggedUser.status == "user") { %>
            <a href="/edit/award"</a><i id="award" class="material-icons">edit</i></a>
            <a href="/delete/award"</a><i id="deleteAward" class="material-icons">delete</i></a>
            <% } %>
            <!--  -->
            <p class="flow-text" id="position4"><%= awards[i].award_name %></p>
            <p><%= awards[i].award_description %></p>
            <p><%= awards[i].year %></p>
          <% } %>
           <!-- EDIT BUTTON -->
           <% if(loggedUser.status == "user") { %>
          <a class="edit_buttons" href="/add/award/<%= loggedUser.id %>"</a>Add New Award</a><br>
           <!--  -->
         <% } %>

          <h2>Events</h2>
          <% for(let i=0; i<events.length; i++) { %>
            <!-- PENCIL BUTTON -->
            <% if(loggedUser.status == "user") { %>
            <a href="/edit/event"</a><i id="event" class="material-icons">edit</i></a>
            <a href="/delete/event"</a><i id="deleteEvent" class="material-icons">delete</i></a>
            <% } %>
            <!--  -->
            <p class="flow-text" id="position5"><%= events[i].event_name %></p>
            <p><%= events[i].event_description %></p>
            <p><%= events[i].event_date.toLocaleDateString('en-US') %></p>
          <% } %>
          <!-- EDIT BUTTON -->
          <% if(loggedUser.status == "user") { %>
          <a class="edit_buttons" href="/add/event/<%= loggedUser.id %>"</a>Add New Event</a><br>
          <!--  -->
          <% } %>
        </section>

      </div>
    </div>

  </div>
</body>
</html>
